body {
  background-color: lightblue;
}

.oog_td_style {
	border: 2px solid black;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	background-color: #edc168;
}


.oog_flex_container {
  display: flex;
  flex-wrap: nowrap;
}

.oog_click_div {
	cursor: pointer;
}

.oog_hide{
	display: none;
}

#arena_grid{
	margin: 0 auto;
}


#glad_info{
	border: 2px solid red;
	margin: 0 auto;
}

#activity_feed{
	max-width: 260px;
	min-width: 260px;
	max-height: 400px;
	border: 2px solid red;
	overflow: auto;
	margin: 0 auto;
}
#activity_feed p{
	font-size: 13px;
	text-align: center;	
}

#glad_extended {
	margin: 0 auto;
	border: 2px solid red;
}

.oog_afheader{
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
}

.oog_afinfo{
	padding-top: 0px;
	margin-top: 0px;
}

.oog_center{
	width: 60%;
	margin: 0 auto;
}

