body {
  background-color: lightblue;
}

.oog_outline_temp {
	border: 2px solid black;
	width: 50px;
	height: 50px;
}

#arena_grid{
	margin: 0 auto;
}

.oog_flex_container {
  display: flex;
  flex-wrap: nowrap;
}

.oog_click_div {
	cursor: pointer;
}

.oog_hide{
	display: none;
}

