@charset "UTF-8";
/*general subheader font*/
body {
  background-color: #d1d1d1;
  color: #000000;
  font-family: Blinker, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Bitter, sans-serif;
  padding: 0.15em 0.5em 0.15em 0.5em;
}

hr {
  margin: 0;
}

.main {
  margin-top: 6em;
}

.container {
  margin: 0px 4em 20px 4em;
}

::-webkit-scrollbar {
  display: none;
}

.flex_browseform {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
}
.flex_browseform p {
  padding: 0 0.3em;
  margin: 0;
}

.form_submitbrowse {
  padding: 0.3em;
  margin: 0;
}

/*Nav bar*/
.nav_holder {
  /*
  CSS3 Pattern by Atle Mo (design), Sébastien Grosjean (code)
  */
  background: linear-gradient(27deg, #151515 2.5px, transparent 2.5px) 0 2.5px, linear-gradient(207deg, #151515 2.5px, transparent 2.5px) 5px 0px, linear-gradient(27deg, #222 2.5px, transparent 2.5px) 0px 5px, linear-gradient(207deg, #222 2.5px, transparent 2.5px) 5px 2.5px, linear-gradient(90deg, #1b1b1b 5px, transparent 5px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 10px 10px;
  padding: 0.6em 0px 0.6em 0px;
  width: 100%;
  position: fixed;
  top: 0;
}

/*
Ribbon ends
Credit to: @divinector 
https://codepen.io/divinector 
https://codepen.io/divinector/pen/qgZKYQ
*/
.nav_holder:before {
  position: absolute;
  content: "";
  border-top: 20px solid #333;
  border-right: 20px solid #333;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  top: 100%;
  left: 0;
}

.nav_holder:after {
  position: absolute;
  content: "";
  border-top: 20px solid #333;
  border-left: 20px solid #333;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  top: 100%;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4em 0 4em;
}
.navbar div {
  display: flex;
  white-space: nowrap;
  font-family: Bitter, sans-serif;
}
.navbar div #title {
  font-family: Montserrat Subrayada, Bitter, sans-serif;
  font-size: 2.2em;
  padding: 0.1em 0.6em 0 0;
}
.navbar div #title:hover {
  background: rgba(0, 0, 0, 0);
}
.navbar div img {
  width: 28px;
  height: 30px;
  padding: 0.1em 0.3em 0em 1.5em;
  align-self: center;
}
.navbar div a {
  text-decoration: none;
  color: #ffffff;
  padding: 1em;
  margin: 0;
}
.navbar div a:hover {
  background: rgba(115, 21, 14, 0.45);
}
.navbar div #display_power, .navbar div #display_money {
  padding: 1em 0em 1em 0em;
  margin: 0;
  color: #ffffff;
}
/*end navbar*/
/*Page nav stuff*/
.page_nav {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.page_nav a {
  color: black;
  text-decoration: none;
}

.prev_url {
  text-align: left;
  width: 100%;
}

.next_url {
  text-align: right;
  width: 100%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.glad_display_grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  min-width: 15em;
  max-width: 25em;
  grid-auto-rows: minmax(2em, auto);
  grid-gap: 0.3em 0.1em;
  border: 2px solid #4a4949;
  border-radius: 0.5em;
  background: #e0c179;
}
.glad_display_grid img {
  width: 1.5em;
  height: 1.5em;
  padding: 0em 0.2em 0em 0.2em;
}
.glad_display_grid div {
  display: flex;
  align-items: center;
}
.glad_display_grid .glad_display_name {
  grid-column: 1/5;
  justify-content: center;
  font-family: Bitter, sans-serif;
  font-size: 1.1em;
  padding-top: 0.3em;
}
.glad_display_grid .glad_display_icon {
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.glad_display_grid .glad_display_height {
  justify-content: center;
}
.glad_display_grid .glad_display_bio {
  grid-column: 1/5;
  height: 5em;
  padding: 0.5em;
  font-size: 0.9em;
  border-top: 1px solid black;
}

.glad_margin {
  margin: 1em 0.5em 1em 0.5em;
  justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.glad_shop_holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.glad_shop_holder .glad_pricing {
  display: flex;
  padding: 0;
  min-width: 15em;
  max-width: 25em;
  margin: 0 auto;
}
.glad_shop_holder .glad_pricing img {
  width: 17px;
  height: 20px;
  padding: 0.3em 0em 0em 1em;
}
.glad_shop_holder .glad_pricing p {
  padding: 0.25em 0em 0em 0em;
  margin: 0.2em;
  font-size: 0.95em;
}
.glad_shop_holder .glad_pricing .buy_glad_btn {
  height: 2em;
  width: 6em;
  margin: 0.2em;
  cursor: pointer;
  font-family: Blinker, sans-serif;
  background-color: #fff;
}
.glad_shop_holder .glad_pricing .buy_glad_btn:hover {
  background-color: #e3ac34;
  transition: 1s;
}

.user_page_div {
  display: flex;
  align-items: center;
}
.user_page_div .user_title {
  margin: 0.3em 0em;
  padding: 0.5em;
  width: 100%;
  text-align: right;
  font-size: 2.5em;
}
.user_page_div .flex_icon_div {
  display: flex;
  align-items: center;
  margin: 0.2em 0em;
}
.user_page_div .flex_icon_div p {
  padding: 0;
  margin: 0;
}
.user_page_div .flex_icon_div img {
  width: 1.5em;
  height: 1.8em;
  padding: 0em 0.2em;
}
.user_page_div .user_avatar {
  border: 0.1em solid black;
  margin: 0em 0.5em;
}

.last_seen {
  margin: 0.2em 0.7em;
  font-size: 0.9em;
}

.user_glad_title {
  margin: 1em 0em 0.1em 0.7em;
}

.user_glad_holder {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}

.arena_listing {
  display: inline-block;
  border-left: 2px solid #6b060b;
  padding-left: 0.5em;
  margin-bottom: 1em;
}
.arena_listing a {
  text-decoration: none;
  color: #000000;
  display: block;
}
.arena_listing a:hover {
  cursor: pointer;
}

.arena_listing:hover {
  background-color: #6b060b;
  transition: 2s;
}
.arena_listing:hover a {
  color: #ffffff;
  transition: 2.5s;
}

/* 
ARENA/GAME CSS BELOW
*/
#overlay {
  position: fixed;
  padding: 0.2em;
  left: 41%;
  width: 18%;
  top: 30%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2em;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
}

#add_glad_but {
  position: fixed;
  left: 44%;
  width: 12%;
  top: 70%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#add_glad_but .glad_add_but {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.2em;
  background-color: white;
  color: #6e0303;
  border: 0.1em solid black;
  border-radius: 0.2em;
}
#add_glad_but .glad_add_but:hover {
  cursor: pointer;
  background-color: #6e0303;
  color: white;
  transition: 2s;
}

#over_text {
  vertical-align: middle;
  display: inline-block;
}

.oog_td_style {
  border: 2px solid black;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #edc168;
  outline-offset: -4px;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
}

.oog_flex_container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 0.5em;
  padding-bottom: 0;
}

.oog_flex_container p {
  padding-right: 10px;
}

.oog_flex_container button {
  padding-left: 10px;
}

.oog_click_div {
  cursor: pointer;
}

.oog_hide {
  display: none;
}

#arena_grid {
  margin: 0 auto;
}

#glad_info {
  margin: 0 auto;
  min-width: 130px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
  padding: 0.3em;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#glad_extended {
  width: 40%;
  margin: 0 auto;
}
#glad_extended .hidden_glad {
  /*make this a css grid*/
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  background-color: rgba(163, 185, 196, 0.6);
  border: 2px solid black;
}
#glad_extended .hidden_glad .glad_info_grid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
#glad_extended .hidden_glad .glad_info_grid .glad_name {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
#glad_extended .hidden_glad .glad_info_grid .glad_name p {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.4em;
}
#glad_extended .hidden_glad .glad_info_grid button:hover {
  background-color: #e3ac34;
  transition: 1s;
  cursor: pointer;
}
#glad_extended .hidden_glad .glad_info_grid .align_div {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#glad_extended .hidden_glad .glad_info_grid .align_div .health_box {
  background-color: #ccc;
  width: 100%;
  height: 1.3em;
  border: solid 0.1em black;
  background: rgba(120, 7, 7, 0.8);
}
#glad_extended .hidden_glad .glad_info_grid .align_div .health_box .health_bar {
  background-color: #6cc26b;
  text-align: center;
  width: inherit;
  height: 1.3em;
  position: relative;
}
#glad_extended .hidden_glad .glad_info_grid .odds_div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4;
  grid-row: 1/3;
}
#glad_extended .hidden_glad .glad_info_grid .odds_div .odds {
  text-align: center;
  font-weight: bold;
  font-size: 1.32em;
  padding: 0;
  margin: 0;
}
#glad_extended .hidden_glad .glad_info_grid .stats {
  display: flex;
  grid-column: 1/3;
  grid-row: 3;
  padding: 0;
  align-items: center;
}
#glad_extended .hidden_glad .glad_info_grid .stats img {
  width: 1.2em;
  height: 1.2em;
  padding: 0em 0.2em 0em 1em;
}
#glad_extended .hidden_glad .glad_info_grid .stats .speed {
  padding: 0;
  margin: 0;
}
#glad_extended .hidden_glad .glad_info_grid .stats .strength {
  padding: 0;
  margin: 0;
}
#glad_extended .hidden_glad .glad_info_grid .stats .aggro {
  padding: 0;
  margin: 0;
}
#glad_extended .hidden_glad .glad_info_grid .status {
  grid-column: 3;
  grid-row: 3;
  padding: 0;
  margin: 0;
  text-align: center;
}
#glad_extended .hidden_glad .glad_info_grid .bet_div {
  display: flex;
  grid-column: 1/3;
  grid-row: 4;
}
#glad_extended .hidden_glad .glad_info_grid .bet_div .bet_input {
  width: 5em;
}
#glad_extended .hidden_glad .glad_info_grid .bet_div .bet_send_btn {
  padding: 0 0.28em 0 0.2em;
}
#glad_extended .hidden_glad .glad_info_grid .gift_send_btn {
  grid-column: 3;
  grid-row: 4;
}
#glad_extended .hidden_glad .glad_info_grid .glad_pic {
  grid-column: 5;
  grid-row: 1/5;
  display: flex;
  justify-content: right;
  align-items: center;
}
#glad_extended .hidden_glad .glad_info_grid .glad_pic .glad_img {
  border: 0.1em solid black;
  margin: 0;
  padding: 0;
  height: 8.4em;
  width: 11.2em;
}

/*grid-column: 1 / 3;
grid-row: 1;*/
#user_activity {
  margin: 0 auto;
  overflow: auto;
  width: 22%;
  height: 10em;
  padding-top: 5px;
  margin-left: 4em;
}
#user_activity p {
  padding-top: 0;
  margin-top: 0;
  padding-left: 0.2em;
  border-left: 2px solid #328ba8;
}

#own_bets {
  margin: 0 auto;
  text-align: right;
  overflow: auto;
  width: 22%;
  height: 10em;
  padding-top: 5px;
  margin-right: 4em;
}
#own_bets p {
  padding-top: 0;
  padding-right: 0.2em;
  margin-top: 0;
  border-right: 2px solid #e3ac34;
  font-family: Courier Prime, Bitter, sans-serif;
}

#activity_feed {
  max-width: 260px;
  min-width: 260px;
  min-height: 400px;
  max-height: 400px;
  padding: 0.1em;
  overflow: auto;
  margin: 0 auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#activity_feed p {
  text-align: center;
}

.oog_afheader {
  font-weight: bold;
  font-size: 0.9em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.oog_afinfo {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 0.82em;
}

.af_kill {
  color: #910a0a;
}

.af_loot {
  color: #146ea6;
}

.af_trap {
  color: #67118c;
}

.af_attack {
  color: #ab670f;
}

.af_survive {
  color: #23730a;
}

.glad_sidebar {
  background: #a3b9c4;
  border: 1.2px solid black;
  margin: 2px;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  opacity: 1;
  -webkit-transition: opacity 800ms linear;
  transition: opacity 800ms linear;
}
.glad_sidebar .glad_sidebar_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0;
  margin: 0em 0em 0em 0em;
}
.glad_sidebar .glad_sidebar_top p {
  padding: 0;
  margin: 0em 0em 0em 0em;
}
.glad_sidebar .glad_sidebar_bottom {
  display: flex;
  height: 1em;
  justify-content: space-between;
  align-items: center;
  margin: 0em 0em 0em 0em;
  padding: 0;
}
.glad_sidebar .glad_sidebar_bottom p {
  margin: 0em 0em 0.3em 0em;
  padding: 0;
  font-size: 0.88em;
}

.top_border_only {
  border-top: 2px solid black;
  margin: 0 auto;
  padding: 0;
  width: 98%;
  height: 0.1em;
}

/*# sourceMappingURL=styles.css.map */
