{% extends 'bootstrap/base.html' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block title %}
	{% if title %}{{ title }} - OoG{% else %}Odds-On Glory{% endif %}
{% endblock %}


{% block navbar %}
	<!-- look at bootstrap documentation and change the nav bar-->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
		
				<a class="navbar-brand" href="{{ url_for('index') }}">Odds On Glory</a>
				<p class="navbar-brand">|</p>
				<a class="navbar-brand" href="{{ url_for('explore') }}">Explore</a>
				<p class="navbar-brand">|</p>
				{% if current_user.is_anonymous %}
				<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
				{% else %}
				<a class="navbar-brand" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
				<p class="navbar-brand">|</p>
				<a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
			</div>
		</div>
	</nav>
{% endblock %}



{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
        {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
{% endblock %}