{% extends "base.html" %}


{% block app_content %}	

<h1>Ongoing games</h1>
	
	
	{% for game in games %}
	<div class="glad_sale">
		<a href="{{ url_for('game', game_id=game.id) }}">Game ref: {{ game.id }}</a>
		<br>
	</div>
	{% endfor %}

	
	<div class="page_nav">
		{% if prev_url %}
		<a class="prev_url" href="{{ prev_url }}"><i class="arrow left"></i> Previous Page</a>
		{% endif %}
		{% if next_url %}
		<a class="next_url" href="{{ next_url }}">Next Page <i class="arrow right"></i></a>
		{% endif %}
	</div>

{% endblock %}