{% extends "base.html" %}

<!-- dont extend base.html -instead have a custom base with different margins -->

{% block game_content %}	
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    
	<script type="text/javascript">
		var user_id = '{{ current_user.id }}';
		if (user_id === "") {//not logged in
			var logged_in = false;
		}else{
			var logged_in = true;
		}
		//console.log(user_id);
		var game_code = '{{ game_code }}';
		var json_arena = JSON.parse({{ json_arena|tojson }});
		var init_bets = {{ game_bets|tojson }};
		var init_ua = {{ init_ua|safe }};
		console.log(init_ua);
		
		if (logged_in === true){
			var gladiator_options = JSON.parse({{ glads|tojson }});
		}
		
		var cross_img_url = "{{ url_for('static', filename='cross.png') }}";
		var strength_icon = "{{ url_for('static', filename='strength-icon.png') }}";
		var running_icon = "{{ url_for('static', filename='running-icon.png') }}";
		var aggro_icon = "{{ url_for('static', filename='aggro-icon.png') }}";
	</script>
	
	<script src="{{ url_for('static', filename='application.js') }}" + "?v=2"></script>
	<div id="overlay"><span id="over_text"><br></span></div>
	<div class="oog_flex_container">
		<div id="glad_info"></div>
		<table id="arena_grid"></table>
		<div id="activity_feed" title="Activity Feed"></div>
	</div>
	<div id="add_glad_but"></div>
	<div class="oog_flex_container">
		<div id="user_activity" title="User Activity"></div>
		<div id="glad_extended"></div>
		<div id="own_bets" title="Your Bets"></div>
	</div>
	<div class="top_border_only"></div>
	
	
	
{% endblock %}
