{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- dont extend base.html -instead have a custom base with different margins -->

{% block game_content %}	
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    
	<script type="text/javascript">
		var game_code = '{{ game_code }}';
		var json_arena = JSON.parse({{ json_arena|tojson }});
	</script>
	<script src="{{ url_for('static', filename='application.js') }}" + "?v=1"></script>
	
	
	<div class="oog_flex_container">
		<div id="glad_info"></div>
		<table id="arena_grid"></table>
		<div id="activity_feed"></div><!--make a smaller div for battles too-->
	</div>
	<div id="glad_extended"></div>
	<p>{{ game_code }}</p>
	<div id="add_glad_but"></div>
	<div id="log">
	
</div>
	
{% endblock %}
