{% extends "base.html" %}


{% block app_content %}	
	
	
	<div class="index_holder">
	
	<div class="left_index">
	{% if current_user.is_authenticated %}
	<h1 class="welcome">Welcome, {{ current_user.username }}!</h1>
	{% endif %}
	<p class="how_to_play_p">How to play:</p>
	<ol class="how_to_play_ol">
		<li>Create an account and login</li>
		<li>If you want, purchase a gladiator from the Market who will fight on your behalf</li>
		<li>In the Colosseum, either host a new arena or join an ongoing one</li>
		<li>If you want, enter your gladiator into combat! If they win you win a large cash sum</li>
		<li>Place your bets! Each gladiator has different odds that will change throughout the arena, place your bets on any gladiator and hope they pay off</li>
		<li>To give the gladiator your backing an advantage, you can purchase medicine or traps to send to them in the arena</li>
		<li>Check your profile each hour to claim your bonus gold</li>
		<li>Check back to the home screen to see where you are on the leaderboard!</li>
	</ol>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/V5fv01iPU-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br>
	<br>
	<p><b>Special thanks to:</b><br>Ollie, Nick, Sam, Charlie and Katie</p>
	</div>
	
	<div class="leaderboard">
		<h2>Leaderboard</h2>
		<p id="board_notice"> The leaderboard updates every minute</p>
		
		{% for user in users %}
		<div class="board_entry">
			<p class="money">{{ user.money }}</p>
			<p class="name"><b>{{ user.money_rank }}</b> - 
			<a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a>
			</p>
		</div>
		{% endfor %}
		<div class="page_nav">
			{% if prev_url %}
			<a class="prev_url" href="{{ prev_url }}"><i class="arrow left"></i> Previous</a>
			{% endif %}
			{% if next_url %}
			<a class="next_url" href="{{ next_url }}">Next <i class="arrow right"></i></a>
			{% endif %}
		</div>
	</div>
	
	
	</div>
{% endblock %}
