{% extends "base.html" %}


{% block app_content %}	
	
	
	<div class="index_holder">
	
	<div class="left_index">
	{% if current_user.is_authenticated %}
	<h1 class="welcome">Welcome, {{ current_user.username }}!</h1>
	{% endif %}
	<p class="how_to_play_p">How to play:</p>
	<iframe class="how_to_play_vid" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br>
	<br>
	<p><b>Special thanks to:</b><br>Katie, Nick, Sam, Charlie, Ollie</p>
	</div>
	
	<div class="leaderboard">
		<h2>Leaderboard</h2>
		<p id="board_notice"> The leaderboard updates every minute</p>
		
		{% for user in users %}
		<div class="board_entry">
			<p class="money">{{ user.money }}</p>
			<p class="name"><b>{{ user.money_rank }}</b> - 
			<a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a>
			</p>
		</div>
		{% endfor %}
		<div class="page_nav">
			{% if prev_url %}
			<a class="prev_url" href="{{ prev_url }}"><i class="arrow left"></i> Previous</a>
			{% endif %}
			{% if next_url %}
			<a class="next_url" href="{{ next_url }}">Next <i class="arrow right"></i></a>
			{% endif %}
		</div>
	</div>
	
	
	</div>
{% endblock %}
