{% extends "base.html" %}


{% block app_content %}
	<h1>Sign In</h1>
	<form id='login_form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
	<p><a href="{{ url_for('register') }}">New user? Register here</a></p>
	<p><a href="{{ url_for('reset_password_request') }}">Forgot your password?</a></p>
	
	<script type="text/javascript" src="{{ url_for('static', filename='sha256.js') }}"></script>
	<script type="text/javascript">
		document.getElementById('login_form').onsubmit = function() {
			var p1 = document.getElementById('password');
			p1.value = sha256(p1.value);
		};
	</script>
{% endblock %}