{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}	
<script>
function buyGlad(glad_id, price) { //Maybe use socket emmissions to remove/add bought glads
	var money_display = document.getElementById("display_money");
	let user_money = Number(money_display.innerHTML)
	console.log(price);
	if (user_money < price) {
		console.log("put a swal here saying not enough cash");
	}else{
		$.ajax({
			type : "POST",
			url : '/buy_gladiator',
			data: {glad_id: glad_id},
			success: function(data) { //Update money on screen
					money_display.innerHTML = data;
					let bought_glad = document.getElementById("buy_"+glad_id);
					bought_glad.style.opacity = '0'
					setTimeout(function(){
						bought_glad.remove();
					}, 1000);
				}
		});
	}
}
</script>


	<h1>Market | Recruit Gladiators</h1>
	
	<div class="glad_shop_holder">
		{% for glad in glads %}
		<div class="glad_margin" id="buy_{{ glad.id }}">
			{% include '_glad.html' %}
			<div class="glad_pricing">
				<img src="{{ url_for('static', filename='money-icon.png') }}">
				<p>{{ glad.getPrice() }}</p>
				<button class="buy_glad_btn" onclick="buyGlad({{ glad.id }}, {{ glad.getPrice() }})">Recruit</button>
			</div>
			<br>
		</div>
		{% endfor %}
	</div>

	
	<div class="page_nav">
		{% if prev_url %}
		<a class="prev_url" href="{{ prev_url }}"><i class="arrow left"></i> Previous Page</a>
		{% endif %}
		{% if next_url %}
		<a class="next_url" href="{{ next_url }}">Next Page <i class="arrow right"></i></a>
		{% endif %}
	</div>
{% endblock %}
