{% extends "base.html" %}

{% block app_content %}
	<h1>Reset Password</h1>
	<form id='reset_form' action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
	<script type="text/javascript" src="{{ url_for('static', filename='sha256.js') }}"></script>
	<script type="text/javascript">
		document.getElementById('reset_form').onsubmit = function() {
			var p1 = document.getElementById('password');
			p1.value = sha256(p1.value);
			var p2 = document.getElementById('password2');
			p2.value = sha256(p2.value);
		};
	</script>
{% endblock %}