{% extends "base.html" %}

{% block app_content %}
<script>
function claimBonus(glad_id, price) { 
	$.ajax({
		type : "POST",
		url : '/claim_bonus',
		success: function(data) { //Update money on screen
				document.getElementById("bonus_btn").remove();
				document.getElementById("bonus_div").innerHTML = "<p>Check back each hour to claim bonus gold</p>";
				var money_display = document.getElementById("display_money");
				var money_display_2 = document.getElementById("user_money");
				money_display.innerHTML = data;
				money_display_2.innerHTML = data;
			}
	});
}
</script>

	<div class="user_page_div">
		<img class="user_avatar" src="{{ user.avatar(128) }}">
		
		<div class="user_page_info">
			
			<div class="flex_icon_div">
				<img id="moneyicon" src="{{ url_for('static', filename='money-icon.png') }}">
				<p id="user_money">{{ user.money }}</p>
			</div>
			<div class="flex_icon_div">
				<img id="powericon" src="{{ url_for('static', filename='power-icon.png') }}">
				<p>0</p><!--power ranking stuff here-->
			</div>
			
			</div>
			<h1 class="user_title">{{ user.username }}</h1>
	</div>
	
	<p>User rank: {{ user.money_rank }}</p>
	
	{% if user == current_user %}
	<div id="bonus_div" title="Last bonus receieved at {{ (user.last_bonus|string)[:-7] }}">
		{% if bonus %}
		<button id="bonus_btn" onclick="claimBonus()">Claim Bonus</button>
		{% else %}
		<p>Check back each hour to claim bonus gold</p>
		{% endif %}
	</div>
	{% endif %}
	
	<h2 class="user_glad_title">Gladiators</h2>
	<hr>
	<div class="user_glad_holder">
		{% for glad in glads %}
		<div class="glad_margin">
			{% include '_glad.html' %}
		</div>
		{% endfor %}
	</div>
	
	<div class="page_nav">
		{% if prev_url %}
		<a class="prev_url" href="{{ prev_url }}"><i class="arrow left"></i> Previous Page</a>
		{% endif %}
		{% if next_url %}
		<a class="next_url" href="{{ next_url }}">Next Page <i class="arrow right"></i></a>
		{% endif %}
	</div>
	
{% endblock %}